wp-includes
wp-comments-post.php
wp-trackback.php
wp-admin
wp-activate.php
wp-links-opml.php
wp-load.php
wp-mail.php
/index.php
license.txt
wp-config-sample.php
wp-config.php.orig
wp-cron.php
wp-login.php
wp-settings.php
wp-signup.php
readme.html
wp-blog-header.php
xmlrpc.php
wp-content/debug.log
wp-content/themes/twentytwenty
wp-content/themes/twentynineteen
wp-content/themes/twentyseventeen
wp-content/plugins/nextgen-gallery
wp-content/plugins/gtranslate
wp-content/plugins/akismet
wp-content/plugins/woocommerce
wp-content/uploads/wc-logs
wp-content/uploads/woocommerce*
wp-content/gallery